html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 5rem;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #14213D;
    font-family: Verdana;
    color: white;
}

h1, h2, h3 {
    font-family: "Orbitron";
    color: #fca311;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #fca311;
    }
}

h2 {
    font-size: 2.5rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.header {
    font-family: "Orbitron";
    margin-bottom: 2rem;

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        &:hover {
            color: #fca311;
        }
        font-size: 3.5rem;
    }

    &__page {
        &-list {
            display: flex;
            align-items: center;
        }
    }

    &__page {
        list-style-type: none;
        padding-left: 2rem;
    }


}

.hero {
    display: flex;
    &__wrapper {
        padding-top: 5%;
        padding-bottom: 5%;
        margin: auto;
        font-size: 5rem;
    }
}

.main {
    &__section {
        display: flex;
        overflow-x: scroll;
    }
    &__div {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 5%;
    }
    &__img {
        width: 20rem;
        height: 10rem;
        object-fit: cover;
        border: 5px solid #e5e5e5;
        border-radius: 5rem;
    }
    &__description {
        width: 20rem;
        height: 10rem;
        text-align: center;
    }
}


.gallery {
    &__ship-only {
        width: 100%;
        height: 50rem;
        object-fit: cover;
        border: 5px solid #e5e5e5;
        border-radius: 25px;
    }

    &__inside {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    &__image-container {
        margin-bottom: 0.5rem;
    }

    &__inside-image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border: 5px solid #e5e5e5;
        border-radius: 25px;
    }
}

.form {
    &__reponse-div {
        display: flex;
    }
    &__response {
        width: 50%;
        margin: 5rem; 
        justify-self: center;
        align-self: first baseline;
        font-size: 2rem;
        font-family: "Orbitron";
    }
    &__heading {
        font-size: 3rem;
    }
    &__submission {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        height: 2rem;
        padding: 1rem;
        border: 5px solid #e5e5e5;
        border-radius: 25px;
        margin-bottom: 1rem;

        &--large {
            height: 6rem;
        }
    }

    &__button {
        width: 12rem;
        height: 2rem;
        border-radius: 25px;
        border: 5px solid #e5e5e5;
        font-family: "Orbitron";
        margin-top: 5rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.leaflet-marker-icon {
    background: none;
    border: none;
    transform-origin: center center;
}

#map {
    width: 100%;
    height: 20vw;
    border-radius: 25px;
    border: 5px solid #e5e5e5;

    .leaflet-control-zoom,
    .leaflet-control-attribution {
        display: none;
    }
}

#button-up {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    width: 3rem;
    height: 5rem;
    border: none;
    font-family: "Orbitron";
}

.button-image {
    background-color: transparent;
    background-image: url("../assets/images/rocket.png");
    position: 0 20%;
    width: 100%;
    background-size: cover;
    cursor: pointer;
}

.stars {
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;

    i {
        position: absolute;
        background: #FFFFC5;
        border-radius: 50%;
        box-shadow: 0 0 10px #FFFFC5,
                    0 0 20px #FFFFC5,
                    0 0 40px #FFFFC5,
                    0 0 80px #FFFFC5;
        animation: twinkle linear infinite;
    }

    @keyframes twinkle {
        0% {opacity: 0;}
        10% {opacity: 1;}
        90% {opacity: 1;}
        100% {opacity: 0;}
   }
}

